.zerorad{
    border-radius: 0!important;
}
body{
    background-color: #327d00!important;
    background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.head{
    font-size: 5.5rem;
}